{% extends 'base.html' %}

{% block title %}Password Changed - Student Tracker{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="alert alert-success">
            <h4 class="alert-heading">Password Changed Successfully!</h4>
            <p>Your password has been changed. You can now use your new password to log in.</p>
            <hr>
            <p class="mb-0">
                <a href="{% url 'dashboard' %}" class="btn btn-primary">Return to Dashboard</a>
            </p>
        </div>
    </div>
</div>
{% endblock %} 